<%= form_tag speaker_requests_path, :method => 'get' do %>
  <div class="well">  
  <% unless request.path == '/requests' %>
    <h4>Search future requests by month</h4>
  <% end %>
   
   <h5>Filter by Month</h5>
   <ul class="unstyled">
    <% (0..5).each do |i| %>
    	<li> 
	  <%= 
	    @month = Date.today.beginning_of_month + i.months 
	    if @month.to_s == params[:date_start]
	      link_to "#{@month.strftime("%B")} (x)", {
		:controller => 'speaker_requests',
		:action => 'index',
	      }
	    else
	      link_to "#{@month.strftime("%B")}", 
	      {
	        :controller => 'speaker_requests',
	        :action     => 'index',
	        :date_start => @month
	      } 
	    end
	  %> 
        </li>
    <% end %>
    </ul>
  </div>
  <%= render 'shared/button' %>
<% end %>
