<%= form_tag("/calendar", :method => "get") do |f| %>
  <div class="well">  
  <% unless request.path == '/calendar' %>
    <h4>Search future requests by month</h4>
  <% end %>
   
   <h5>Filter by Month</h5>
   <ul class="unstyled">
    <% (0..5).each do |i| %>
    	<li> 
	  <%= 
	    @month = Date.today.beginning_of_month + i.months 
	    if @month.to_s == params[:date_start]
	      link_to "#{@month.strftime("%B")} (x)", {
		  :controller => 'speaker_requests',
		  :action => 'calendar',
	      }
	    else
	      link_to "#{@month.strftime("%B")}", 
	      {
	        :controller => 'speaker_requests',
	        :action     => 'calendar',
	        :date => @month
	      } 
	    end
	  %> 
        </li>
    <% end %>
    </ul>
    
	<h5>Filter by State</h5>

      <% states_array = states_list.map { |s| [s.name, s.name] }.insert(0, '--select--') %>
      <%= select_tag(:state, options_for_select(states_array), :class => "span12 state") %>

  <!--end form -->    
  </div>
<% end %>
