<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>New Speaker Request has been made</h1>
                <p><%= link_to "Click Here",
		    "#{@url}/admin/speaker_requests/#{@speaker_request.id}" %> to see it and publish it if needed.
		 </p>
	</body>
</html>
