<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>New notification has been made</h1>
                <p>New quest made checkout <%= link_to "Speaker Request",
		    "#{request.}admin/speaker_request/#{@speaker_request.id}" %> to set it
		    as published.
		 </p>
	</body>
</html>
