    <% if request.path != '/' %>
        <div class="span3 sidebar">
        <br/>
          <div class="button-add">
          <%= render 'shared/button' %>
        </div>
        <%= render 'shared/search' %>
        <%= render 'shared/states' %>
         </div>    
    <% end %>